
# Python / Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
ENV/

# Local utilities / experiments
utils/ExperimentalClassificationHelperFuntions.py
junk/
OtherModels/

# Large model artifacts and generated outputs
*.joblib
*.pkl
*.zip

# OS / Windows metadata
.DS_Store
Thumbs.db
*.Zone.Identifier
*:Zone.Identifier


archive (10).zip

random_forest
logistic
junk
xgboost
adaboost_perceptron_2_models
adaboost_mlp
adaboost_logistic
